* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(231, 230, 230);
}

body {
    font-family: 'Poppins', sans-serif;
}

.button {
    padding-top: 40px;
    width: 100px;
    height: 100px;
}


#btnhamburguer {
    background-color: white;;
    border: none;
    left: 20px;
    transition-duration: 500ms;
    transition-timing-function: ease;
}

#btnhamburguer img {
    width: 35px;
    transition-duration: 700ms;

}

#btnhamburguer img:hover {
    transform: scale(1.2, 1.2);
}

.textprimary {
    width: 55%;
    margin-bottom: -20px;
}


.container {
    margin: auto;
    display: block;
    height: 100vh;
    width: 90vw;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}


.textprimary h1 {
    color: rgb(62, 100, 62);  
    padding-left: 40px;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: Playfair Display; 

}
.abouttext{
    display: flex;
    justify-content: space-between;
}
.abouttext p {
    width: 567px;        
    padding-left: 40px;
    text-align: justify;
    line-height: 1.4;
}

.abouttext img {
    float: right;
    max-width: 450px;
    border-radius: 8px;
}
.footer p{
    text-align: center;
    padding-top: 25px;
    font-size: 12px;
}



